body {
    font-family: Veranda, "Times New Roman", sans-serif;
    margin: 0;
}

header {
    background-color: white;
    text-align: center;
    font-size: 30px;
    margin-top: -40px;
    position: sticky;
    top: 0; /*required for position: sticky to work*/
    color: black;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

ul li a
{
    text-decoration: none;
}